body {
    font-family: "Abel";
    overflow-right: scroll;
    background-color: #010022; 
    color: #f8ecc2;
    padding-right: 10em;
    padding-top: 2em;
    padding-left: 10em;
    font-size: 1.25em;
}

pre {
    margin-left: 5em;
    margin-right: 5em;
    padding: 2em;
}

figcaption {
    text-align: center;
	margin-top: .5rem;
	font-style: italic;
}


pre {
    background-color: black;
    padding: 1.5em; 
    border: 1px solid white; 
    margin-top: 2em;
    margin-bottom: 2em;  
}

#rice-house {
    width: 25em;
}

img {
    width: 50%;   
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0em;
}

#logic, #faces {
    width: 100%;
}

a {
    text-decoration: none; 
    color: cyan;
}

button {
    font-family: inherit
}

#popup {
    display: none;
    background: #ffffff;
    width: 50%;
    height: 50px;
}

hr {
    border: 1px solid white;
    padding: 1px;
    margin-top: -0.75em;  
}


h1 {
  font-size: 2.5em;
  font-family: 'Quicksand', sans-serif; 
}

h2 {
    font-size: 1.5em;
    font-family: 'Quicksand', sans-serif;
}

h3, h4 {
    font-size: 1em;
    font-family: 'Quicksand', sans-serif;
}



#answer {
    font-family: inherit
}

blockquote {
    padding-left: 1rem;
    padding-right: 1rem;
    margin-left: 0;
    margin-right: 0;
    border-left: solid #eee;
    border-left-color: #dfdfdf;
}

.twitter-tweet {
  position: absolute;
}
    

.navigation {
    position: relative;
    background-color: black;
    overflow: hidden;
    text-align: center;
    position: fixed;
    top: 0;
    left: 0;
    padding: 2em;
    width: 100%;
    border: 5px solid white;
} 

#footer a {
    font-size: 50px;
    color: #333;
    font-family: inherit;
    text-decoration: none;
}

main {
    margin-top: 5.5em;
}

.content-tutorials ul {
    font-size: 1.5em;
}


.content-tutorials {
    margin-top: 7em;
}

.nav-left {
    float: left;
}

.nav-left a {
    font-size: 1.5em !important;
    font-family: 'Ubuntu Mono', monospace !important;
  }

.nav-right {
    float: right;
    margin-right: 3em;
}

.navigation a {
    font-family: "Abel";
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

nav {
  display: inline-block !important;
}

#letter {
  width: 50%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0em;
} 


.nav-right a {
    font-family: "Abel";
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    border: 3px solid LightSkyBlue;
    border-radius: 10px;
}


.homebody {
    text-align: center
}

#easter-egg {
  color: #010022;
  font-size: 2em;
  text-decoration: none;
}

#homepage-link {
  color: grey;
  text-decoration: none;
} 
