<h1 id="python-tutorial">Python tutorial</h1>
<hr />
<p>Introduction: <a href="https://www.python.org">Python</a> is a (programming) language used in data analysis and can be used for many other purposes. As we go along, you should follow along in a <a href="https://repl.it">REPL.it</a> IDE (or another coding interface, if at home). In REPL, create a new account or log in to a previously created account. Click ‘New Repl’ in the top right corner and select ‘Python’ (you may have to search) as your language (not Python 2.7 or Python with Turtle. Just Python). Name the file ‘python tutorial playground’. This will serve as our playground for the tutorial. Feel free to create as many files as you want (by clicking the file icon in the left sidebar) if you wish to save your code. <a href="https://www.computersciencedegreehub.com/faq/what-is-coding/">This description of coding</a> is a lie. Congratulations! You are now ready to start coding!</p>
<ul>
<li>Note: as we go along, make sure to follow along in your own python3 file(s).</li>
<li>Note: python2 syntax is very different from python3 syntax.</li>
<li>Note: Projects should be emailed to <a href="mailto:itbarsoum@protonmail.com" class="email">itbarsoum@protonmail.com</a> for feedback.</li>
</ul>
<h2 id="lesson-1-setting-up-a-basic-python3-document">Lesson 1: Setting up a basic python3 document</h2>
<p>In the newly created document, use up a shebang line:</p>
<div class="sourceCode" id="cb1"><pre class="sourceCode py"><code class="sourceCode python"><a class="sourceLine" id="cb1-1" title="1"><span class="co">#! usr/bin/env python3</span></a></code></pre></div>
<p>Now, write a line of code:</p>
<div class="sourceCode" id="cb2"><pre class="sourceCode py"><code class="sourceCode python"><a class="sourceLine" id="cb2-1" title="1"><span class="bu">print</span>(<span class="st">&#39;hello world&#39;</span>)</a></code></pre></div>
<p>Now, you have a basic python program! Click ‘run’ in REPL.it.</p>
<h3 id="lesson-1.1-print-statement">Lesson 1.1: Print statement</h3>
<p>The ‘<code>print</code>’ statement allows you to print text to the console. Print syntax is as follows:</p>
<div class="sourceCode" id="cb3"><pre class="sourceCode py"><code class="sourceCode python"><a class="sourceLine" id="cb3-1" title="1"><span class="bu">print</span>(<span class="st">&#39;hello world&#39;</span>)</a></code></pre></div>
<ul>
<li>Note: In Python, quotations may be either double (" ") quotes or single (’ ’) quotes.</li>
</ul>
<h2 id="lesson-2-lists">Lesson 2: Lists</h2>
<p>List syntax is thus:</p>
<div class="sourceCode" id="cb4"><pre class="sourceCode py"><code class="sourceCode python"><a class="sourceLine" id="cb4-1" title="1">YOURLISTNAME <span class="op">=</span> [</a>
<a class="sourceLine" id="cb4-2" title="2">    <span class="st">&quot;YOURLISTITEM&quot;</span>,</a>
<a class="sourceLine" id="cb4-3" title="3">    <span class="st">&quot;ANOTHERLISTITEM&quot;</span>,</a>
<a class="sourceLine" id="cb4-4" title="4">    <span class="st">&quot;LASTLISTITEM&quot;</span>,</a>
<a class="sourceLine" id="cb4-5" title="5">]</a></code></pre></div>
<p>Lists can also be one line: <code>py     LIST2 = ["Hello there", "Goodbye",]</code></p>
<ul>
<li>Note: Use regular brackets (<code>[]</code>) rather than curly brackets (<code>{}</code>).</li>
</ul>
<p>Lists can be referenced in variables (lesson 6) by the list name.</p>
<p>Lists can have an unlimited number of items.</p>
<h2 id="lesson-3-arguments">Lesson 3: Arguments</h2>
<p>Arguments are the values passed through the function when the function is being used. These can vary, such as different strings in a <code>print()</code> function, and varying seconds values in <code>time.sleep()</code> functions.</p>
<h2 id="lesson-4-modules">Lesson 4: Modules</h2>
<p>Python comes with lots of built-in modules, including <code>random</code>, <code>math</code>, <code>os</code>, <code>sys</code>, and <code>time</code>. Use these modules by ‘importing’ them with the following syntax:</p>
<div class="sourceCode" id="cb5"><pre class="sourceCode py"><code class="sourceCode python"><a class="sourceLine" id="cb5-1" title="1"><span class="im">import</span> random</a>
<a class="sourceLine" id="cb5-2" title="2"><span class="im">import</span> math</a>
<a class="sourceLine" id="cb5-3" title="3"><span class="im">import</span> os</a>
<a class="sourceLine" id="cb5-4" title="4"><span class="im">import</span> sys</a>
<a class="sourceLine" id="cb5-5" title="5"><span class="im">import</span> time</a></code></pre></div>
<ul>
<li>Tip: Put all imports at the top of files.</li>
</ul>
<p>Find the functions that these modules provide with the <code>dir()</code> function:</p>
<div class="sourceCode" id="cb6"><pre class="sourceCode py"><code class="sourceCode python"><a class="sourceLine" id="cb6-1" title="1"><span class="co">#!/usr/bin/env python3</span></a>
<a class="sourceLine" id="cb6-2" title="2"><span class="im">import</span> math</a>
<a class="sourceLine" id="cb6-3" title="3">content <span class="op">=</span> <span class="bu">dir</span>(math)</a>
<a class="sourceLine" id="cb6-4" title="4"><span class="bu">print</span>(content)</a></code></pre></div>
<ul>
<li>Easter egg: type ‘<code>import this</code>’ into the playground and run.</li>
</ul>
<h3 id="lesson-4.1-random-module">Lesson 4.1: random module</h3>
<p>The random module allows you to select a random string from a list, as well as other things.</p>
<div class="sourceCode" id="cb7"><pre class="sourceCode py"><code class="sourceCode python"><a class="sourceLine" id="cb7-1" title="1"><span class="im">import</span> random</a>
<a class="sourceLine" id="cb7-2" title="2">YOURLISTNAME <span class="op">=</span> [</a>
<a class="sourceLine" id="cb7-3" title="3">    <span class="st">&quot;YOURLISTITEM&quot;</span>,</a>
<a class="sourceLine" id="cb7-4" title="4">    <span class="st">&quot;ANOTHERLISTITEM&quot;</span>,</a>
<a class="sourceLine" id="cb7-5" title="5">    <span class="st">&quot;LASTLISTITEM&quot;</span>,</a>
<a class="sourceLine" id="cb7-6" title="6">]</a>
<a class="sourceLine" id="cb7-7" title="7">choice <span class="op">=</span> random.choice(YOURLISTNAME)</a>
<a class="sourceLine" id="cb7-8" title="8"><span class="bu">print</span>(choice)</a></code></pre></div>
<p>This will print a random list item, choosing from the three items in the existing list.</p>
<h3 id="project---random-greeting">Project - Random Greeting</h3>
<p>Create a project that, when run, prints a random greeting. This should use lists and the random module. Make sure to use valid syntax and include more than 5 greetings.</p>
<h3 id="lesson-4.2-math-module">Lesson 4.2: math module</h3>
<p>The math module allows you to generate a number between 0 and 1, to round that number, to floor that number, to raise that number, to do arithmetic, etc. <a href="https://goo.gl/kdkfGj">Math is WRONG in py2</a>.</p>
<p>This module is possibly the most important in data science.</p>
<p>Basic operators:</p>
<div class="sourceCode" id="cb8"><pre class="sourceCode py"><code class="sourceCode python"><a class="sourceLine" id="cb8-1" title="1">total <span class="op">=</span> <span class="dv">5</span> <span class="op">+</span> <span class="dv">10</span>          <span class="co"># addition</span></a>
<a class="sourceLine" id="cb8-2" title="2">difference <span class="op">=</span> <span class="dv">10</span> <span class="op">-</span> <span class="dv">5</span>     <span class="co"># subtraction</span></a>
<a class="sourceLine" id="cb8-3" title="3">product <span class="op">=</span> <span class="dv">10</span> <span class="op">*</span> <span class="dv">5</span>        <span class="co"># multiplication</span></a>
<a class="sourceLine" id="cb8-4" title="4">quotient <span class="op">=</span> <span class="dv">10</span><span class="op">/</span><span class="dv">5</span>         <span class="co"># division</span></a>
<a class="sourceLine" id="cb8-5" title="5">power <span class="op">=</span> <span class="dv">10</span><span class="op">**</span><span class="dv">5</span>           <span class="co"># exponents</span></a>
<a class="sourceLine" id="cb8-6" title="6">remainder <span class="op">=</span> <span class="dv">10</span><span class="op">%</span><span class="dv">3</span>        <span class="co"># remainder</span></a></code></pre></div>
<ul>
<li><code>+=</code> (<code>a += b</code> is equivalent to <code>a=a+b</code>),</li>
<li><code>-=</code> (<code>a -= b</code> is equivalent to <code>a=a-b</code>),</li>
<li><code>*=</code> (<code>a *= b</code> is equivalent to <code>a=a*b</code>),</li>
<li><code>/=</code> (<code>a /= b</code> is equivalent to <code>a=a/b</code>),</li>
<li><code>**</code> (exponent (<code>a**b</code> is <code>a</code> to the power of <code>b</code>)),</li>
<li><code>%</code> (remainder (<code>a%b</code> returns remainder of <code>a/b</code>)),</li>
<li><code>&gt;</code> (greater than),</li>
<li><code>&lt;</code> (less than),</li>
<li><code>&gt;=</code> (greater than or equal to),</li>
<li><code>&lt;=</code> (less than or equal to)</li>
</ul>
<h3 id="example-dice-roller">Example: dice roller</h3>
<div class="sourceCode" id="cb9"><pre class="sourceCode py"><code class="sourceCode python"><a class="sourceLine" id="cb9-1" title="1"><span class="co">#!/usr/bin/env python3</span></a>
<a class="sourceLine" id="cb9-2" title="2"></a>
<a class="sourceLine" id="cb9-3" title="3"><span class="im">from</span> random <span class="im">import</span> random</a>
<a class="sourceLine" id="cb9-4" title="4"><span class="im">import</span> math</a>
<a class="sourceLine" id="cb9-5" title="5"></a>
<a class="sourceLine" id="cb9-6" title="6"><span class="kw">def</span> rollone(sides):</a>
<a class="sourceLine" id="cb9-7" title="7">    R <span class="op">=</span> random()</a>
<a class="sourceLine" id="cb9-8" title="8">    rolled <span class="op">=</span> sides <span class="op">*</span> R <span class="op">+</span> <span class="dv">1</span></a>
<a class="sourceLine" id="cb9-9" title="9">    rolled <span class="op">=</span> math.floor(rolled)</a>
<a class="sourceLine" id="cb9-10" title="10">    <span class="cf">return</span> rolled</a>
<a class="sourceLine" id="cb9-11" title="11"></a>
<a class="sourceLine" id="cb9-12" title="12"><span class="kw">def</span> roll(num,sides):</a>
<a class="sourceLine" id="cb9-13" title="13">    count <span class="op">=</span> <span class="dv">0</span></a>
<a class="sourceLine" id="cb9-14" title="14">    total <span class="op">=</span> <span class="dv">0</span></a>
<a class="sourceLine" id="cb9-15" title="15"></a>
<a class="sourceLine" id="cb9-16" title="16">    <span class="cf">while</span> count <span class="op">&lt;</span> num:</a>
<a class="sourceLine" id="cb9-17" title="17">        count <span class="op">+=</span> <span class="dv">1</span></a>
<a class="sourceLine" id="cb9-18" title="18">        total <span class="op">+=</span> rollone(sides)</a>
<a class="sourceLine" id="cb9-19" title="19">    <span class="cf">return</span> total</a>
<a class="sourceLine" id="cb9-20" title="20"></a>
<a class="sourceLine" id="cb9-21" title="21"><span class="kw">def</span> rolly():</a>
<a class="sourceLine" id="cb9-22" title="22">    <span class="bu">print</span>(rollone(<span class="dv">6</span>))</a>
<a class="sourceLine" id="cb9-23" title="23"></a>
<a class="sourceLine" id="cb9-24" title="24">rolly()</a></code></pre></div>
<p>This short program is rolling a six-sided die using the math module and the random module.</p>
<ul>
<li>Note: <code>print(rollone(6))</code> multiplies <code>rollone</code> times 6, giving a 6 sided die.</li>
</ul>
<h3 id="lesson-4.3-os-module">Lesson 4.3: os module</h3>
<p>I use the os module for 1 thing: clearing the terminal while person is in gameplay.</p>
<div class="sourceCode" id="cb10"><pre class="sourceCode py"><code class="sourceCode python"><a class="sourceLine" id="cb10-1" title="1"><span class="im">import</span> os</a>
<a class="sourceLine" id="cb10-2" title="2">clear <span class="op">=</span> <span class="kw">lambda</span> : os.system(<span class="st">&#39;tput reset&#39;</span>)</a></code></pre></div>
<p>Use the 1-liner (lambda) and then use <code>clear()</code> when you wish to utilize the function.</p>
<h3 id="lesson-4.4-sys-module">Lesson 4.4: sys module</h3>
<p>Also, I use the <code>sys</code> module for only one thing: making it look like a <code>print("string")</code> is being typed rather than just popping up on the screen.</p>
<div class="sourceCode" id="cb11"><pre class="sourceCode py"><code class="sourceCode python"><a class="sourceLine" id="cb11-1" title="1"><span class="im">import</span> sys</a>
<a class="sourceLine" id="cb11-2" title="2"><span class="im">import</span> time</a>
<a class="sourceLine" id="cb11-3" title="3"><span class="kw">def</span> write(string):</a>
<a class="sourceLine" id="cb11-4" title="4">    <span class="cf">for</span> char <span class="kw">in</span> string:</a>
<a class="sourceLine" id="cb11-5" title="5">        sys.stdout.write(char)</a>
<a class="sourceLine" id="cb11-6" title="6">        sys.stdout.flush()</a>
<a class="sourceLine" id="cb11-7" title="7">        time.sleep(<span class="fl">0.1</span>)</a>
<a class="sourceLine" id="cb11-8" title="8">    <span class="bu">print</span>(<span class="st">&quot;&quot;</span>)</a></code></pre></div>
<p>Use <code>write("YOURTEXTHERE")</code> when you want to use this.</p>
<h3 id="task---testing-sys-and-os-modules">Task - Testing sys and os modules</h3>
<p>Use the <code>os clear()</code> and the <code>sys write(string)</code> functions to create a program that writes ‘Hello world’ and then clears it. Adjust time in between printing of characters (or better yet, make it inconsistent (<code>random</code>) so that it really seems like someone’s typing), play with the <code>lambda</code> to expand it to multiple lines, or change the argument for <code>os.system</code> in the <code>lambda</code> to see if other arguments can be passed with valid syntax (hint: there is one other). </p>
<h3 id="lesson-4.5-time-module">Lesson 4.5: time module</h3>
<p>I use the time module when wanting to allow people to read what I’ve written with the <code>write(string)</code> function utilizing the <code>sys</code> module before clearing the terminal with the lambda from the <code>os</code> module.</p>
<p>After defining the <code>write()</code> and <code>clear()</code> functions, do this in your program:</p>
<div class="sourceCode" id="cb12"><pre class="sourceCode py"><code class="sourceCode python"><a class="sourceLine" id="cb12-1" title="1"><span class="im">import</span> time</a></code></pre></div>
<p>[this is where the <code>write()</code> and <code>clear()</code> functions go]</p>
<div class="sourceCode" id="cb13"><pre class="sourceCode py"><code class="sourceCode python"><a class="sourceLine" id="cb13-1" title="1">write(<span class="st">&quot;Hello world&quot;</span>)</a>
<a class="sourceLine" id="cb13-2" title="2">time.sleep(<span class="dv">3</span>) </a>
<a class="sourceLine" id="cb13-3" title="3"><span class="co">#the argument is the number of seconds to &#39;wait&#39;.</span></a>
<a class="sourceLine" id="cb13-4" title="4">clear()</a></code></pre></div>
<p>This will write ‘Hello world’, wait for the argument given (3 seconds) and then clear the terminal.</p>
<p>The time module also allows you to print the current time when the program is run:</p>
<div class="sourceCode" id="cb14"><pre class="sourceCode py"><code class="sourceCode python"><a class="sourceLine" id="cb14-1" title="1"><span class="co">#!/usr/bin/env python3</span></a>
<a class="sourceLine" id="cb14-2" title="2"><span class="im">import</span> time</a>
<a class="sourceLine" id="cb14-3" title="3"></a>
<a class="sourceLine" id="cb14-4" title="4">time <span class="op">=</span> time.ctime()</a>
<a class="sourceLine" id="cb14-5" title="5"><span class="bu">print</span>(time)</a></code></pre></div>
<p>This prints: <code>Sat May 11 22:51:30 2019</code></p>
<ul>
<li>Note: <a href="https://greenwichmeantime.com/what-is-gmt/">Greenwich Mean Time</a> (prime meridian) </li>
</ul>
<h2 id="lesson-5-value-types">Lesson 5: Value Types</h2>
<p>The different value types in python include:</p>
<ul>
<li>strings, which are used as text, numbers,</li>
<li>long strings, which are just multi-line strings,</li>
<li>numbers, which are used as, well, numbers, and</li>
<li>variables, which contain strings or numbers. (lesson 6)</li>
</ul>
<p>String syntax:</p>
<div class="sourceCode" id="cb15"><pre class="sourceCode py"><code class="sourceCode python"><a class="sourceLine" id="cb15-1" title="1"><span class="co">&quot;Hello world&quot;</span></a></code></pre></div>
<p>Long string syntax:</p>
<div class="sourceCode" id="cb16"><pre class="sourceCode py"><code class="sourceCode python"><a class="sourceLine" id="cb16-1" title="1">greetings <span class="op">=</span> </a>
<a class="sourceLine" id="cb16-2" title="2"><span class="co">&quot;&quot;&quot;</span></a>
<a class="sourceLine" id="cb16-3" title="3"><span class="co">Hello</span></a>
<a class="sourceLine" id="cb16-4" title="4"><span class="co">Goodbye</span></a>
<a class="sourceLine" id="cb16-5" title="5"><span class="co">&quot;&quot;&quot;</span></a></code></pre></div>
<p>Long strings have to be assigned to variables.</p>
<p>Number syntax: <code>5</code></p>
<ul>
<li>Note: Numbers DO NOT use quotes, EVER! In any language.</li>
</ul>
<h2 id="lesson-6-variables-and-inputs">Lesson 6: Variables and Inputs</h2>
<p>Variables allow for the naming of a variable, such as ‘name’. The syntax for a variable with a string value is as follows:</p>
<div class="sourceCode" id="cb17"><pre class="sourceCode py"><code class="sourceCode python"><a class="sourceLine" id="cb17-1" title="1">name <span class="op">=</span> <span class="st">&quot;YOURNAMEHERE&quot;</span></a></code></pre></div>
<p>Inputs allow you to have the user input a string and it to be fed into a variable.</p>
<div class="sourceCode" id="cb18"><pre class="sourceCode py"><code class="sourceCode python"><a class="sourceLine" id="cb18-1" title="1">name <span class="op">=</span> <span class="bu">input</span>(<span class="st">&quot;What is your name? &quot;</span>)</a></code></pre></div>
<p>Using the input does not require you to <code>print(name)</code>. It will automatically appear when you run the program. Using <code>print(name)</code> will print the inputted value. Therefore,</p>
<div class="sourceCode" id="cb19"><pre class="sourceCode py"><code class="sourceCode python"><a class="sourceLine" id="cb19-1" title="1">name <span class="op">=</span> <span class="bu">input</span>(<span class="st">&quot;What is your name? &quot;</span>)</a>
<a class="sourceLine" id="cb19-2" title="2"><span class="bu">print</span>(name)</a></code></pre></div>
<p>Prints the string that the user inputted.</p>
<p>Using the <code>+</code> operator, we can add our own strings plus the user’s input.</p>
<div class="sourceCode" id="cb20"><pre class="sourceCode py"><code class="sourceCode python"><a class="sourceLine" id="cb20-1" title="1">name <span class="op">=</span> <span class="bu">input</span>(<span class="st">&quot;What is your name? &quot;</span>)</a>
<a class="sourceLine" id="cb20-2" title="2"><span class="bu">print</span>(<span class="st">&quot;Nice to meet you, &quot;</span> <span class="op">+</span> name)</a></code></pre></div>
<p>This prints: Nice to meet you, [USER INPUT HERE].</p>
<h2 id="lesson-7-ifelif-and-ifelse-statements">Lesson 7: If/elif and if/else statements</h2>
<p><code>If/elif</code> statements allow you to scan a string or number and perform an action <code>if</code> the string or number is this, or if it is this other thing (<code>elif</code>), do this. <code>If/else</code> statements allow you to scan a string or number and perform an action <code>if</code> the string or number is this, or if it is anything else (<code>else</code>), do this.</p>
<h3 id="example-1-ifelif">Example 1: If/elif:</h3>
<div class="sourceCode" id="cb21"><pre class="sourceCode py"><code class="sourceCode python"><a class="sourceLine" id="cb21-1" title="1">name <span class="op">=</span> <span class="bu">input</span>(<span class="st">&quot;What is your name? &quot;</span>)</a>
<a class="sourceLine" id="cb21-2" title="2"><span class="cf">if</span> name <span class="op">==</span> <span class="st">&quot;bob&quot;</span>:</a>
<a class="sourceLine" id="cb21-3" title="3">    <span class="bu">print</span>(<span class="st">&quot;That&#39;s a cool name, bob! That&#39;s my name too!&quot;</span>)</a>
<a class="sourceLine" id="cb21-4" title="4"><span class="cf">elif</span> name <span class="op">==</span> <span class="st">&quot;Bob&quot;</span>:</a>
<a class="sourceLine" id="cb21-5" title="5">    <span class="bu">print</span>(<span class="st">&quot;That&#39;s a cool name, Bob! That&#39;s my name too!&quot;</span>)</a></code></pre></div>
<ul>
<li>Disadvantage: This program will end if you do not input ‘bob’ or ‘Bob’.</li>
</ul>
<h3 id="example-2-ifelse">Example 2: If/else:</h3>
<div class="sourceCode" id="cb22"><pre class="sourceCode py"><code class="sourceCode python"><a class="sourceLine" id="cb22-1" title="1">name <span class="op">=</span> <span class="bu">input</span>(<span class="st">&quot;What is your name? &quot;</span>)</a>
<a class="sourceLine" id="cb22-2" title="2"><span class="cf">if</span> name <span class="op">==</span> <span class="st">&quot;bob&quot;</span>:</a>
<a class="sourceLine" id="cb22-3" title="3">    <span class="bu">print</span>(<span class="st">&quot;That&#39;s a cool name, bob! That&#39;s my name too!&quot;</span>)</a>
<a class="sourceLine" id="cb22-4" title="4"><span class="cf">else</span>:</a>
<a class="sourceLine" id="cb22-5" title="5">    <span class="bu">print</span>(<span class="st">&quot;Nice to meet you, &quot;</span> <span class="op">+</span> name <span class="op">+</span> <span class="st">&quot;! My name is bob!&quot;</span>)</a></code></pre></div>
<ul>
<li>Advantage: Does not end the program if your name is not Bob.</li>
</ul>
<h3 id="example-3-ififelse">Example 3: If/if/else:</h3>
<div class="sourceCode" id="cb23"><pre class="sourceCode py"><code class="sourceCode python"><a class="sourceLine" id="cb23-1" title="1">name <span class="op">=</span> <span class="bu">input</span>(<span class="st">&quot;What is your name? &quot;</span>)</a>
<a class="sourceLine" id="cb23-2" title="2"><span class="cf">if</span> name <span class="op">==</span> <span class="st">&quot;bob&quot;</span>:</a>
<a class="sourceLine" id="cb23-3" title="3">    <span class="bu">print</span>(<span class="st">&quot;That&#39;s a cool name, bob! That&#39;s my name too!&quot;</span>)</a>
<a class="sourceLine" id="cb23-4" title="4"><span class="cf">if</span> name <span class="op">==</span> <span class="st">&quot;john&quot;</span>:</a>
<a class="sourceLine" id="cb23-5" title="5">    <span class="bu">print</span>(<span class="st">&quot;That&#39;s a cool name, john! I have met someone named john before!&quot;</span>)</a>
<a class="sourceLine" id="cb23-6" title="6"><span class="cf">else</span>:</a>
<a class="sourceLine" id="cb23-7" title="7">    <span class="bu">print</span>(<span class="st">&quot;Nice to meet you, &quot;</span> <span class="op">+</span> name <span class="op">+</span> <span class="st">&quot;! My name is bob!&quot;</span>)</a></code></pre></div>
<ul>
<li>Advantage: Allows for a more interactive interface.</li>
<li>Note: If/elif/else is invalid syntax. Use If/if/else instead.</li>
</ul>
<h3 id="lesson-7.1-while-statement">Lesson 7.1: while statement</h3>
<div class="sourceCode" id="cb24"><pre class="sourceCode py"><code class="sourceCode python"><a class="sourceLine" id="cb24-1" title="1">x<span class="op">=</span><span class="dv">5</span></a>
<a class="sourceLine" id="cb24-2" title="2">y<span class="op">=</span><span class="dv">1</span></a>
<a class="sourceLine" id="cb24-3" title="3"></a>
<a class="sourceLine" id="cb24-4" title="4"><span class="cf">while</span> x<span class="op">&gt;</span>y:</a>
<a class="sourceLine" id="cb24-5" title="5">    <span class="bu">print</span>(<span class="st">&quot;Hello&quot;</span>)</a>
<a class="sourceLine" id="cb24-6" title="6">    y<span class="op">+</span><span class="dv">1</span></a>
<a class="sourceLine" id="cb24-7" title="7"><span class="cf">while</span> x<span class="op">=</span>y:</a>
<a class="sourceLine" id="cb24-8" title="8">    <span class="bu">print</span>(<span class="st">&quot;Goodbye&quot;</span>)</a>
<a class="sourceLine" id="cb24-9" title="9">    exit()</a></code></pre></div>
<p><code>exit()</code> is used at the end of a program to exit the user back into the bash interface.</p>
<h2 id="lesson-8-functions">Lesson 8: Functions</h2>
<p>Functions are used to prevent <a href="https://sourcemaking.com/antipatterns/spaghetti-code">spaghetti code</a> and organize a file into sections. Function syntax:</p>
<div class="sourceCode" id="cb25"><pre class="sourceCode py"><code class="sourceCode python"><a class="sourceLine" id="cb25-1" title="1"><span class="kw">def</span> welcome():  </a>
<a class="sourceLine" id="cb25-2" title="2">    name <span class="op">=</span> <span class="bu">input</span>(<span class="st">&quot;What is your name? &quot;</span>)</a>
<a class="sourceLine" id="cb25-3" title="3">    <span class="bu">print</span>(<span class="st">&quot;Hello, &quot;</span> <span class="op">+</span> name <span class="op">+</span><span class="st">&quot;, nice to meet you!&quot;</span>)</a>
<a class="sourceLine" id="cb25-4" title="4">    after()</a>
<a class="sourceLine" id="cb25-5" title="5"></a>
<a class="sourceLine" id="cb25-6" title="6"><span class="kw">def</span> after():</a>
<a class="sourceLine" id="cb25-7" title="7">    <span class="bu">print</span>(<span class="st">&quot;This function comes after the welcome function.&quot;</span>)</a>
<a class="sourceLine" id="cb25-8" title="8"></a>
<a class="sourceLine" id="cb25-9" title="9">welcome() <span class="co">#The starting function - change if you want to change the starting function</span></a></code></pre></div>
<p>This outputs:</p>
<pre><code>What is your name? Bob
Hello, Bob, nice to meet you!
This function comes after the welcome function.</code></pre>
<p>Functions are very useful, especially if you want to save game information or organize data into sections.</p>
<h2 id="lesson-9-comments">Lesson 9: Comments</h2>
<p>Comments are very useful when you are sharing code or collaborating on a project. Comment syntax is:</p>
<div class="sourceCode" id="cb27"><pre class="sourceCode py"><code class="sourceCode python"><a class="sourceLine" id="cb27-1" title="1">welcome() </a>
<a class="sourceLine" id="cb27-2" title="2"><span class="co"># The starting function - change if you want to change the starting function</span></a></code></pre></div>
<p>Comments begin with a hashtag.</p>
<ul>
<li>Note: In python, there is no way to make multi-line comments.</li>
</ul>
<h2 id="project---developing-an-intermediate-python-project">Project - Developing an intermediate python project</h2>
<p>For your project, you will be creating a simple text adventure game. There must be at least 4 different locations. These locations can include battles, lessons at school, etc. Be imaginative! You must include a <strong>shebang line</strong>, <strong>functions</strong> with <strong>arguments</strong>, <strong>inputs</strong>, <strong>variables</strong>, <strong>strings</strong>, at least one <strong>module</strong>, at least one <strong>comment</strong>, at least one <strong>if/else</strong> or <strong>if/elif</strong> statement, and you may use the <code>os clear()</code> function, the <code>sys write(string)</code> function, <strong>lists</strong>, <strong>numbers</strong>, and <strong>while</strong> statements (you may also use previous python knowledge to enhance the game). Your game must have a <strong>clear theme</strong> and must allow users to <strong>win</strong> or <strong>lose</strong>. You must use <strong>correct syntax</strong> and the game must operate correctly no matter what the user inputs. TEST YOUR PROJECT!!! Knowledge from the first 7 lessons should be sufficient to allow you to make an intermediate level game. Good luck!</p>
<ul>
<li>Note: Remember, it is not shameful to look up syntax if you don’t know it and it’s not in this document. You will always have a computer to look something up on if you are programming. Make sure the syntax is correct for python3.</li>
<li>This <a href="https://techcrunch.com/2018/10/01/theres-a-secret-text-adventure-game-hidden-inside-google-heres-how-to-play-it/">text adventure easter egg</a> was made by Google. It is a good premise for a game, although theirs is very complicated and has many locations.</li>
<li>The easter egg can be accessed by searching text adventure in Google (or<i>!g text adventure</i> in <i><a href="https://www.duckduckgo.com">DuckDuckGo</a></i>) and opening Chrome DevTools by right clicking to ‘Inspect’ or ‘Inspect Element’ and navigating to the ‘console’ tab.
<ul>
<li>Tip: Use DuckDuckGo at home (blocked at school 😠) instead of Google!
<ul>
<li><a href="https://spreadprivacy.com">spreadprivacy.com</a></li>
</ul></li>
<li>The easter egg will not work on school chromebooks where inspect element is disabled.</li>
</ul></li>
<li><a href="https://en.wikipedia.org/wiki/List_of_Google_Easter_eggs">Here</a> is a list of google easter eggs
<ul>
<li><a href="https://www.google.com/search?q=define+easter+egg&amp;rlz=1CAPQVW_enUS848&amp;oq=define+easter+egg&amp;aqs=chrome.0.69i59.2091j0j7&amp;sourceid=chrome&amp;ie=UTF-8&amp;safe=active&amp;ssui=on">Easter egg</a>: technical jargon for an unexpected or undocumented feature in a piece of computer software or on a DVD, included as a joke or a bonus. </li>
</ul></li>
</ul>
<h2 id="lesson-10-.lower">Lesson 10: .lower()</h2>
<p>Python is rather aggravating when inputs are being used (case-sensitivity). Luckily, there is an easy solution:</p>
<div class="sourceCode" id="cb28"><pre class="sourceCode py"><code class="sourceCode python"><a class="sourceLine" id="cb28-1" title="1">variable <span class="op">=</span> <span class="bu">input</span>(<span class="st">&quot;Type something here: &quot;</span>)</a>
<a class="sourceLine" id="cb28-2" title="2">variable <span class="op">=</span> variable.lower()</a>
<a class="sourceLine" id="cb28-3" title="3"><span class="bu">print</span>(variable)</a></code></pre></div>
<p>This outputs:</p>
<pre><code>Type something here: Hi
hi</code></pre>
<p>Therefore, you do not need to account for all types of upper- and lower- case potentialities. Instead, use <code>.lower()</code>!</p>
<ul>
<li>Now, if necessary, simplify your project so that <code>.lower()</code> is used rather than if/elif/else being used to account for all possibilities.</li>
</ul>
<h2 id="lesson-11-the-complex-dictionary">Lesson 11: The Complex Dictionary</h2>
<p>In gameplay, the storage of information is key to creating an interactive interface. The dictionary can contain different tidbits of information that have been collected, such as Hogwarts ‘Houses’, name, highscores in a game, interests, answers (quiz game), age, etc.</p>
<ul>
<li>A big disadvantage of python: any input within a function cannot be called outside of that function.</li>
</ul>
<p>Dictionary example:</p>
<div class="sourceCode" id="cb30"><pre class="sourceCode py"><code class="sourceCode python"><a class="sourceLine" id="cb30-1" title="1">student_name <span class="op">=</span> <span class="bu">input</span>(<span class="st">&quot;Name: &quot;</span>)</a>
<a class="sourceLine" id="cb30-2" title="2">student_age <span class="op">=</span> <span class="bu">input</span>(<span class="st">&quot;Age: &quot;</span>)</a>
<a class="sourceLine" id="cb30-3" title="3">student_house <span class="op">=</span> <span class="bu">input</span>(<span class="st">&quot;Hogwarts House: &quot;</span>)</a>
<a class="sourceLine" id="cb30-4" title="4"></a>
<a class="sourceLine" id="cb30-5" title="5">student <span class="op">=</span> {</a>
<a class="sourceLine" id="cb30-6" title="6">    <span class="st">&#39;name&#39;</span>: student_name,</a>
<a class="sourceLine" id="cb30-7" title="7">    <span class="st">&#39;age&#39;</span>: student_age,</a>
<a class="sourceLine" id="cb30-8" title="8">    <span class="st">&#39;house&#39;</span>: student_house,</a>
<a class="sourceLine" id="cb30-9" title="9">}</a>
<a class="sourceLine" id="cb30-10" title="10"></a>
<a class="sourceLine" id="cb30-11" title="11"><span class="bu">print</span>(<span class="st">&quot;Hello there. Nice to meet you, &quot;</span> <span class="op">+</span> student.name <span class="op">+</span> <span class="st">&quot;! You are already &quot;</span> <span class="op">+</span> student.age <span class="op">+</span> <span class="st">&quot; years old? I am also in &quot;</span> <span class="op">+</span> student.house <span class="op">+</span><span class="st">&quot;!&quot;</span>) </a>
<a class="sourceLine" id="cb30-12" title="12"><span class="co">#This line was used as an example for calling each item from the dictionary. </span></a></code></pre></div>
<ul>
<li>Note: json dictionaries are much more effective than python ones.</li>
<li>Note: Use <code>listname.item</code> to call each item (just <code>house</code> or <code>name</code> doesn’t work.)</li>
<li>Note: Redefine dictionary items by calling <code>student.name</code>.</li>
</ul>
